@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// шрифты
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// глобальные стили
@import './share.scss';

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./../fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header__inner {
    display: flex;
    gap: 95px;
    min-height: 36.42px;
    padding: 38px 0;

    a {
        font-weight: 500;
        text-transform: capitalize;
        color: #151515;
        text-align: right;
    }

    .header__logo {
        width: 139px;
        height: 36px;
    }

    .menu {
        margin-left: auto;
        align-content: center;

        a {
            color: #181818;
        }

        ul {
            display: flex;
            gap: 18px;
        }
    }

    .user-actions__list {
        display: flex;
        align-items: center;
        gap: 20px;

        .user-actions__link-sign-in {
            padding: 5px 22px;
            border-radius: 5px;
            background: #656293;
            color: #fff;
        }
    }
}
