@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// шрифты
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// глобальные стили
@import './share.scss';

@import './node_modules/flatpickr/dist/flatpickr';

@import './node_modules/choices.js/public/assets/styles/choices';

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./../fonts/Inter18pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.top-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    z-index: -1;
    background-image: url('./../images/pictures/intro-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.header__inner {
    display: flex;
    gap: 95px;
    padding: 38px 0;

    @include breakpoint(1071px) {
        gap: 65px;
    }

    @include breakpoint($tablet-bp) {
        gap: 0;
    }

    @include breakpoint($small-tablet-bp) {
        padding: 28px 0;
        min-height: auto;
    }

    @include breakpoint($mobile-bp) {
        padding: 18px 0;
    }

    a {
        text-transform: capitalize;
        text-align: right;
    }

    .header__logo {
        width: 139px;
        height: 36px;

        @include breakpoint($tablet-bp) {
            margin-left: auto;
        }

        @include breakpoint($mobile-bp) {
            width: 103px;
            height: 26px;
        }
    }

    .menu {
        position: relative;
        margin-left: auto;
        display: flex;
        align-items: center;

        @include breakpoint($tablet-bp) {
            margin: 0;
            order: -1;
        }

        a {
            color: #181818;
        }

        .menu__btn {
            display: none;

            @include breakpoint($tablet-bp) {
                display: flex;
            }
        }

        .menu__list {
            display: flex;
            gap: 18px;

            @include breakpoint($tablet-bp) {
                position: absolute;
                top: 0;
                left: 100%;
                transform: translateY(-120%);
                flex-direction: column;
                gap: 25px;
                align-items: center;
                background-color: #fff;
                border-radius: 8px;
                padding: 40px 20px;
                width: 310px;
            }

            @include breakpoint($mobile-bp) {
                width: 200px;
            }

            .menu__close {
                display: none;
                position: absolute;
                top: 10px;
                right: 10px;

                @include breakpoint($tablet-bp) {
                    display: list-item;
                }
            }

            &.menu__list--open {
                transform: translateY(0%);
            }
        }
    }

    .user-actions__list {
        display: flex;
        align-items: center;
        gap: 20px;

        @include breakpoint($tablet-bp) {
            margin-left: auto;
        }

        @include breakpoint($mobile-bp) {
            gap: 10px;
        }

        .user-actions__link-sign-in {
            padding: 5px 22px;
            border-radius: 5px;
            background: #656293;
            color: #fff;
        }
    }
}

.intro__inner {
    padding: 182.58px 0 153px 0;

    @include breakpoint($small-tablet-bp) {
        padding: 162px 0 133px 0;
    }

    @include breakpoint($mobile-bp) {
        padding: 142px 0 113px 0;
    }

    .intro__content {
        max-width: 587px;
        min-height: 226px;

        @include breakpoint($small-tablet-bp) {
            max-width: 497px;
        }

        @include breakpoint($mobile-bp) {
            max-width: 430px;
        }

        h1 {
            min-height: 154px;
            font-family: $second-family;
            font-size: 66px;
            text-transform: capitalize;

            @include breakpoint($small-tablet-bp) {
                min-height: auto;
                font-size: 60px;
            }

            @include breakpoint($mobile-bp) {
                font-size: 36px;
            }

            b {
                text-transform: uppercase;
                color: #656293;
            }
        }

        a {
            position: relative;
            display: block;
            margin-top: 48px;
            font-size: 16px;

            @include breakpoint($mobile-bp) {
                margin-top: 30px;
            }

            &::after {
                content: '';
                background-image: url('./../images/icons/intro-link-arrow.svg');
                position: absolute;
                top: 4px;
                margin-left: 9px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.book-flights__inner {
    position: relative;
    padding-bottom: 40px;

    @include breakpoint($mobile-bp) {
        padding-bottom: 27.5px;
    }

    .book-flights__content {
        border-radius: 12px;
        min-height: 266px;
        padding: 34px 30px 33px 29px;
        box-shadow: 0 1px 3px 0 rgba(19, 10, 46, 0.13),
            0 3px 14px 0 rgba(19, 10, 46, 0.03),
            0 8px 32px 0 rgba(19, 10, 46, 0.07),
            0 30px 84px 0 rgba(19, 10, 46, 0.08);
        background: #fff;

        @include breakpoint($mobile-bp) {
            font-size: 12px;
        }

        input {
            border: none;
            outline: none;
            padding: 0;
            font-family: $font-family;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            text-transform: capitalize;
            color: #151515;

            @include breakpoint($mobile-bp) {
                font-size: 18px;
            }
        }

        .book-flights__options {
            display: flex;
            gap: 10px;
        }

        .book-flights__details {
            margin-top: 24px;
            display: flex;
            align-items: center;

            @include breakpoint(1128px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            @include breakpoint($small-tablet-bp) {
                flex-direction: column;
            }

            .book-flights__item {
                border: 1px solid #aaa;
                border-radius: 10px;
                padding: 16px 20px 15px 20px;

                p {
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #15151599;
                }
            }

            .route-selection__froom,
            .route-selection__to {
                width: 300px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                @include breakpoint($small-tablet-bp) {
                    width: 400px;
                }

                @include breakpoint($mobile-bp) {
                    width: 100%;
                }
            }

            #route-selection__invert-btn {
                margin: 0 6px;
                border: 0.47px solid #aaa;
                border-radius: 100%;
                padding: 6.07px 6.07px 5.6px 5.6px;

                @include breakpoint($small-tablet-bp) {
                    margin: 6px 0;
                    transform: rotate(90deg);
                }

                img {
                    width: 16.33px;
                    height: 16.33px;
                }
            }

            .date-selection {
                margin-left: 10px;
                width: 399px;
                display: flex;
                gap: 10px;

                @include breakpoint(1128px) {
                    margin: 20px 0 0 0;
                    width: 430px;
                    gap: 20px;
                }

                @include breakpoint($small-tablet-bp) {
                    flex-wrap: wrap;
                    gap: 10px;
                    width: 400px;
                }

                @include breakpoint($mobile-bp) {
                    width: 100%;
                }

                .date-selection__item {
                    width: 100%;

                    @include breakpoint($small-tablet-bp) {
                        width: 180px;
                    }

                    @include breakpoint($mobile-bp) {
                        width: 145px;
                    }

                    &:last-child {
                        @include breakpoint($small-tablet-bp) {
                            margin-left: auto;
                        }
                    }

                    .date-selection__flatpickr {
                        margin-top: 4px;

                        .flatpickr__input-wrapper {
                            position: relative;
                            cursor: pointer;

                            input {
                                width: 100%;
                            }

                            &::after {
                                content: '';
                                background-image: url('./../images/icons/calendar.svg');
                                position: absolute;
                                top: 6px;
                                right: 0;
                                width: 24px;
                                height: 24px;

                                @include breakpoint($mobile-bp) {
                                    top: 1.5px;
                                }
                            }
                        }

                        .flatpickr__actions {
                            margin-top: 4px;
                            display: flex;
                            gap: 44px;

                            button {
                                border: none;
                                background-color: transparent;
                                padding: 0;
                                color: #15151599;
                                text-decoration-skip-ink: none;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

        #book-flights__add-requirements-btn {
            margin-top: 16px;
            background-color: transparent;
            border: none;
            padding: 0;
            text-transform: capitalize;
            text-decoration-skip-ink: none;
            cursor: pointer;

            @include breakpoint($small-tablet-bp) {
                margin-bottom: 20px;
            }

            @include breakpoint($mobile-bp) {
                margin-bottom: 10px;
            }

            &:hover {
                text-decoration: underline;
            }

            &.book-flights__add-requirements-btn--close {
                display: none;
            }
        }

        #book-flights__add-requirements-textarea {
            display: none;
            margin: 16px 0;
            width: 100%;
            resize: none;
            outline: none;
            border: 1px solid #aaa;
            border-radius: 10px;
            padding: 20px;
            font-family: $font-family;
            font-size: 16px;
            font-weight: 500;

            &.book-flights__add-requirements-input--open {
                display: inline-block;
            }
        }
    }

    .book-flights__book-btn-wrapper {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: center;

        #book-flights__book-btn {
            padding: 27px 95px 26px 30px;
            border: none;
            border-radius: 10px;
            background: #656293;
            font-size: 18px;
            text-transform: capitalize;
            color: #fff;
            cursor: pointer;

            @include breakpoint($mobile-bp) {
                padding: 17px 65px 17px 20px;
                font-size: 14px;
            }

            &::after {
                content: '';
                background-image: url('./../images/icons/book-flight-btn-arrow.svg');
                position: absolute;
                top: 32px;
                margin-left: 49px;
                width: 18px;
                height: 18px;

                @include breakpoint($mobile-bp) {
                    top: 18.5px;
                    margin-left: 27px;
                }
            }
        }
    }
}

.jet-info__inner {
    margin-top: 67px;

    @include breakpoint($small-tablet-bp) {
        margin-top: 50px;
    }

    ul {
        margin-top: 65px;

        @include breakpoint($small-tablet-bp) {
            margin-top: 40px;
        }

        li {
            position: relative;
            height: 523px;
            padding: 66px 0 65px 0;

            @include breakpoint($tablet-bp) {
                height: 450px;
            }

            @include breakpoint(836px) {
                height: 607px;
                padding: 40px 0 40px 0;
            }

            .jet-info__item-wrapper {
                max-width: 1130px;
                margin: 0 auto;
                padding: 0 20px;
                display: flex;
                gap: 38px;

                img {
                    width: 589px;
                    height: 392px;
                    border-radius: 20px;

                    @include breakpoint($tablet-bp) {
                        width: 500px;
                        height: 319px;
                    }

                    @include breakpoint($small-tablet-bp) {
                        width: auto;
                        height: auto;
                    }
                }

                .jet-info__item-text {
                    align-content: center;

                    h3 {
                        font-weight: 600;
                        font-size: 24px;
                        color: #000;

                        @include breakpoint($mobile-bp) {
                            font-size: 18px;
                        }
                    }

                    p {
                        margin-top: 14px;
                        font-size: 16px;
                        letter-spacing: 0.02em;
                        text-align: justify;
                        color: #15151599;

                        @include breakpoint($mobile-bp) {
                            font-size: 14px;
                        }
                    }

                    @include breakpoint($tablet-bp) {
                        min-width: 279px;
                    }

                    @include breakpoint(836px) {
                        width: 700px;
                    }
                }

                @include breakpoint(836px) {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 400px;
                height: 100%;
                background-color: #e5f4f6;
                border-radius: 0 50px 50px 0;

                @include breakpoint($tablet-bp) {
                    width: 330px;
                }
            }

            &:last-child {
                margin-top: 51px;

                @include breakpoint($small-tablet-bp) {
                    margin-top: 31px;
                }

                .jet-info__item-text {
                    order: -1;

                    @include breakpoint(836px) {
                        order: 1;
                    }
                }

                &::after {
                    left: auto;
                    right: 0;
                    border-radius: 50px 0 0 50px;
                }
            }
        }
    }
}

.jet-characteristics__inner {
    margin-top: 83px;

    @include breakpoint($mobile-bp) {
        margin-top: 60px;
    }

    .jet-characteristics__lists-wrapper {
        margin-top: 68px;
        display: flex;
        background-image: url('./../images/pictures/jet-characteristics-bg.png');
        background-repeat: no-repeat;
        background-position: center center;

        @include breakpoint($small-tablet-bp) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }

        @include breakpoint($mobile-bp) {
            margin-top: 40px;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            li {
                min-height: 268px;
                border-radius: 12px;
                padding: 40px 52px;
                box-shadow: 0 1px 3px 0 rgba(19, 10, 46, 0.13),
                    0 3px 14px 0 rgba(19, 10, 46, 0.03),
                    0 8px 32px 0 rgba(19, 10, 46, 0.07),
                    0 30px 84px 0 rgba(19, 10, 46, 0.08);
                background: #fff;
                text-align: center;

                @include breakpoint(814px) {
                    min-height: 245px;
                    padding: 30px 40px;
                }

                @include breakpoint($small-tablet-bp) {
                    min-height: 268px;
                    padding: 40px 52px;
                }

                @include breakpoint($mobile-bp) {
                    min-height: 233px;
                    padding: 30px 20px;
                }

                h3 {
                    margin-top: 13px;
                    font-weight: 500;
                    font-size: 18px;
                    text-align: center;
                    text-transform: uppercase;

                    @include breakpoint($mobile-bp) {
                        font-size: 16px;
                    }
                }

                p {
                    margin-top: 11px;
                    width: 266px;
                    font-size: 16px;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #15151599;

                    @include breakpoint($mobile-bp) {
                        font-size: 14px;
                    }
                }
            }
        }

        .jet-characteristics__list-specifications {
            margin-left: auto;

            @include breakpoint($small-tablet-bp) {
                margin-left: 0;
            }
        }
    }
}
