<section class="book-flights">
    <div class="container">
        <div class="book-flights__inner">
            <div class="book-flights__content">
                <div class="book-flights__options">
                    <div id="travel-options-select">
                        <select
                            name="travel-options"
                            id="travel-options-select-wrapper"
                        >
                            <option value="round-trip">Round Trip</option>
                            <option value="one-way">One Way</option>
                        </select>
                    </div>
                    <div id="flight-type-select">
                        <select
                            name="flight-type"
                            id="flight-type-select-wrapper"
                            required
                        >
                            <option value="private-jet">Private Jet</option>
                            <option value="shared-charter">
                                Shared Charter
                            </option>
                        </select>
                    </div>
                    <div id="person-select">
                        <select
                            name="count-person"
                            id="person-select-wrapper"
                            required
                        >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </div>
                <div class="book-flights__details">
                    <div class="book-flights__item route-selection__froom">
                        <p>From</p>
                        <input
                            type="text"
                            value="Lax"
                            id="route-selection__from-input"
                        />
                        <p>Los Angeles Intl Arpt,Los Angeles</p>
                    </div>
                    <button id="route-selection__invert-btn" class="icon-btn">
                        <img
                            src="assets/images/icons/invert-btn-arrows.svg"
                            alt="Icon"
                        />
                    </button>
                    <div class="book-flights__item route-selection__to">
                        <p>To</p>
                        <input
                            type="text"
                            value="Mia"
                            id="route-selection__to-input"
                        />
                        <p>Miami Intl,Miami</p>
                    </div>
                    <div class="book-flights__item date-selection">
                        <div class="date-selection__item">
                            <p>Departure</p>
                            <div
                                class="date-selection__flatpickr date-selection__flatpickr-departure"
                            >
                                <div
                                    id="flatpickr__input-departure-wrapper"
                                    class="flatpickr__input-wrapper"
                                >
                                    <input
                                        type="text"
                                        id="date-selection__input-departure"
                                    />
                                </div>
                                <div class="flatpickr__actions">
                                    <button id="flatpickr-departure__prev-btn">
                                        Prev
                                    </button>
                                    <button id="flatpickr-departure__next-btn">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="date-selection__item">
                            <p>Return</p>
                            <div
                                class="date-selection__flatpickr date-selection__flatpickr-return"
                            >
                                <div
                                    id="flatpickr__input-return-wrapper"
                                    class="flatpickr__input-wrapper"
                                >
                                    <input
                                        type="text"
                                        id="date-selection__input-return"
                                    />
                                </div>
                                <div class="flatpickr__actions">
                                    <button id="flatpickr-return__prev-btn">
                                        Prev
                                    </button>
                                    <button id="flatpickr-return__next-btn">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="book-flights__add-requirements-btn">
                    Add Requirements
                </button>
                <textarea
                    id="book-flights__add-requirements-textarea"
                    placeholder="Enter your wishes..."
                    rows="4"
                    resize="false"
                ></textarea>
            </div>
            <button id="book-flights__book-btn">Book Flights</button>
        </div>
    </div>
</section>
