<header>
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <img src="assets/images/logo.svg" alt="Logo" />
            </a>
            <nav class="menu">
                <button id="menu__btn" class="icon-btn">
                    <img src="assets/images/menu.svg" alt="Icon" />
                </button>
                <ul class="menu__list">
                    <li class="menu__close">
                        <button id="menu__close-btn" class="icon-btn">
                            <img src="assets/images/close.svg" alt="Icon" />
                        </button>
                    </li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Booking</a></li>
                    <li><a href="#">Private Jet</a></li>
                    <li><a href="#">Specification</a></li>
                    <li><a href="#">Luxury Charters</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </nav>
            <ul class="user-actions__list">
                <li><a href="#">Register</a></li>
                <li>
                    <a class="user-actions__link-sign-in" href="#">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</header>
