<section class="intro">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__content">
                <h1>Enjoy <b>Reserved</b> Overhead bin space</h1>
                <a href="#"
                    >Explore Now
                    <svg viewBox="0 0 16 16">
                        <path
                            d="M2.5 8H13.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M9 3.5L13.5 8L9 12.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
