<section class="jet-characteristics">
    <div class="container">
        <div class="jet-characteristics__inner">
            <h2>Private Jet Performance and Specifications</h2>
            <div class="jet-characteristics__lists-wrapper">
                <ul class="jet-characteristics__list-performance">
                    <li>
                        <img
                            src="assets/images/jet-characteristics-1.svg"
                            alt="Jet characteristics icon"
                        />
                        <h3>Luxury And Comfort</h3>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable
                        </p>
                    </li>
                    <li>
                        <img
                            src="assets/images/jet-characteristics-2.svg"
                            alt="Jet characteristics icon"
                        />
                        <h3>Personal schedule & booking</h3>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable
                        </p>
                    </li>
                </ul>
                <ul class="jet-characteristics__list-specifications">
                    <li>
                        <img
                            src="assets/images/jet-characteristics-3.svg"
                            alt="Jet characteristics icon"
                        />
                        <h3>SAFETY AND SECURITY</h3>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable
                        </p>
                    </li>
                    <li>
                        <img
                            src="assets/images/jet-characteristics-4.svg"
                            alt="Jet characteristics icon"
                        />
                        <h3>EXPERIENCED CREW</h3>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
