<section class="jet-info">
    <div class="jet-info__inner">
        <h2>Private Jet for Business & Leisure Purposes</h2>
        <ul>
            <li>
                <div class="jet-info__item-wrapper">
                    <img src="assets/images/jet-info-1.jpg" alt="Jet image" />
                    <div class="jet-info__item-text">
                        <h3>Private Jet Charter</h3>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem
                            Ipsum is that it has a more-or-less normal
                            distribution of letters, as opposed to using
                            'Content here, content here', making it look like
                            readable English. Many desktop publishing packages
                            and web page editors
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="jet-info__item-wrapper">
                    <img src="assets/images/jet-info-2.jpg" alt="Jet image" />
                    <div class="jet-info__item-text">
                        <h3>Business Jet Charter</h3>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem
                            Ipsum is that it has a more-or-less normal
                            distribution of letters, as opposed to using
                            'Content here, content here', making it look like
                            readable English. Many desktop publishing packages
                            and web page editors
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
