<section class="luxury-charters">
    <div class="container">
        <div class="luxury-charters__inner">
            <h2>Luxury Charters</h2>
            <ul>
                <li>
                    <img
                        src="assets/images/luxury-charters-1.jpg"
                        alt="Luxury charters"
                    /><a href="">Piaggio P.180 Avanti</a>
                </li>
                <li>
                    <img
                        src="assets/images/luxury-charters-2.jpg"
                        alt="Luxury charters"
                    /><a href="">Pilatus PC-12</a>
                </li>
                <li>
                    <img
                        src="assets/images/luxury-charters-3.jpg"
                        alt="Luxury charters"
                    /><a href="">piper pa27 aztec</a>
                </li>
                <li>
                    <img
                        src="assets/images/luxury-charters-4.jpg"
                        alt="Luxury charters"
                    /><a href="">Beech BE100 King Air</a>
                </li>
            </ul>
        </div>
    </div>
</section>
