<section class="membership">
    <div class="membership__inner">
        <h2>Enjoy our membership</h2>
        <ul class="membership__list">
            <li class="membership__item">
                <h3>Popular</h3>
                <p class="membership__what-get">What You’ll Get</p>
                <ul class="membership__services">
                    <li class="membership__services-item">
                        One-time initiation fee $0
                    </li>
                    <li class="membership__services-item">Deposit $50k</li>
                    <li class="membership__services-item">
                        Pricing / rates Dynamic
                    </li>
                    <li class="membership__services-item">
                        Priority fleet access Yes
                    </li>
                    <li class="membership__services-item">
                        Guaranteed fleet access No
                    </li>
                </ul>
                <div class="membership__divider"></div>
                <p class="membership__price"><b>$250</b>/month</p>
                <button>Choose</button>
            </li>
            <li class="membership__item membership__item-highlight">
                <h3>Business</h3>
                <p class="membership__what-get">What You’ll Get</p>
                <ul class="membership__services">
                    <li class="membership__services-item">
                        One-time initiation fee $0
                    </li>
                    <li class="membership__services-item">Deposit $50k</li>
                    <li class="membership__services-item">
                        Pricing / rates Dynamic
                    </li>
                    <li class="membership__services-item">
                        Priority fleet access Yes
                    </li>
                    <li class="membership__services-item">
                        Guaranteed fleet access No
                    </li>
                </ul>
                <div class="membership__divider"></div>
                <p class="membership__price"><b>$480</b>/month</p>
                <button>Choose</button>
            </li>
            <li class="membership__item">
                <h3>Elite</h3>
                <p class="membership__what-get">What You’ll Get</p>
                <ul class="membership__services">
                    <li class="membership__services-item">
                        One-time initiation fee $0
                    </li>
                    <li class="membership__services-item">Deposit $50k</li>
                    <li class="membership__services-item">
                        Pricing / rates Dynamic
                    </li>
                    <li class="membership__services-item">
                        Priority fleet access Yes
                    </li>
                    <li class="membership__services-item">
                        Guaranteed fleet access Yes
                    </li>
                </ul>
                <div class="membership__divider"></div>
                <p class="membership__price"><b>$680</b>/month</p>
                <button>Choose</button>
            </li>
        </ul>
    </div>
</section>
