<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>

    <body>
        <div class="wrapper">
            <div class="intro-bg">
                <div class="intro-bg__wrapper">
                    <img
                        class="intro-bg__image"
                        src="assets/images/intro-bg.jpg"
                        alt="Intro background"
                    />
                </div>
            </div>
            {{> header }}
            <main class="content">{{> body }}</main>
            {{> footer }}
        </div>

        <script src="assets/js/app.js"></script>
    </body>
</html>
